include ../../template/head.pug
include ../../template/header.pug

nav(class="purple")
  .nav-wrapper 
    a(class="brand-logo left") Покупка билетов

div(id="options", class = filter.options)
div
  .row(style="display: flex;align-items: center;")

    .col.s4
      div
        h5 Пункт отправления
        select(id="point_start", class="dropdown-trigger btn", onchange="Filter('point_start', this)")
          option(value = "")
          each opt in data.startPoints
            if (filter.point_start && filter.point_start==opt.id)
              option(value=opt.id selected) #{opt.name}
            else
              option(value=opt.id ) #{opt.name}
    .col.s4
      div
        h5 Пункт назначения
        select(id="point_end", class="dropdown-trigger btn", onchange="Filter('point_end', this)")
          option(value = "")
          each opt in data.endPoints
            if (filter.point_end && filter.point_end==opt.id)
              option(value = opt.id selected) #{opt.name}
            else
              option(value = opt.id) #{opt.name}
    .col.s4
      div
        h5 Способ передвижения
        select(id="transport" class="dropdown-trigger btn", onchange="Filter('transport', this)" )
          option(value = "")
          each opt in data.routeTypes
            if (filter.transport && filter.transport==opt.id)
              option(value = opt.id selected) #{opt.name}
            else
              option(value = opt.id) #{opt.name}


table
  thead
    tr
      each col in ["Место отправления", "Мето назначения", "Дата отправления", "Дата прибытия", "Способ передвижения","Стоимость за пассажира"]
        th #{col}
      th
  tbody
    each route in data.found
      tr(id="id_"+route.id)
        td #{route.point_start}
        td #{route.point_end}
        td 
          input(type="datetime-local", class="datetimepicker", value = route.time_start readonly)
        td 
          input(type="datetime-local", class="datetimepicker", value = route.time_arrive readonly)
        td #{route.transport_type}
        td #{route.cost}
        td
          button(class="waves-effect waves-light btn", onclick="Buy("+route.id+")") Купить

include ../../template/foot.pug
script
  include scripts.js