include ../../template/head.pug
include ../../template/header.pug

nav(class="purple")
  .nav-wrapper 
    a(class="brand-logo left") Ordering ticket

div
  .row(style="display: flex;align-items: center;")

    .col.s4
      div
        h5 Пункт отправления
        select(name="stPoint", class="dropdown-trigger btn")
          option(value = "")
          each opt in data.startPoints
            option(value=opt.name) #{opt.name}
    .col.s4
      div
        h5 Пункт назначения
        select(name="epPoint", class="dropdown-trigger btn")
          option(value = "")
          each opt in data.endPoints
            option(value = opt.name) #{opt.name}
    .col.s4
      div
        h5 Способ передвижения
        select(name="tType", class="dropdown-trigger btn")
          option(value = "")
          each opt in data.routeTypes
            option(value = opt.name) #{opt.name}


table
  thead
    tr
      each col in ["Место отправления", "Мето назначения", "Дата отправления", "Дата прибытия", "Способ передвижения","Стоимость за пассажира"]
        th #{col}
      th Купить
  tbody
    each route in data.found
      tr(id="id_"+route.id)
        td #{route.point_start}
        td #{route.point_end}
        td 
          input(type="datetime-local", class="datetimepicker", value = route.time_start readonly)
        td 
          input(type="datetime-local", class="datetimepicker", value = route.time_arrive readonly)
        td #{route.transport_type}
        td #{route.cost}
        td
          button(class="waves-effect waves-light btn", onclick="Buy("+route.id+")") Buy

include ../../template/foot.pug
script
  include scripts.js